!!! 5
%html
	%head
		%title maxGame
		%link{ :rel => 'stylesheet', :href => 'stylesheets/design.css'}
	%body
		.wrapper
			.top
				%p.labels.balance $100
				%p.labels.bet
			.bottom
				%button.bets.five $5
				%button.bets.ten $10
				%button.bets.twentyFive $25



		%script{ :src => 'scripts/jquery.js' }
		%script{ :src => 'scripts/maxGame.js'}