!!! 5
%html
	%head
		%title maxGame
		%link{ :rel => 'stylesheet', :href => 'stylesheets/design.css'}
	%body
		.wrapper
			.top
				%p.labels.balance{ :value => 100 } &#36;100
				%p.labels.bet
			.bottom
				%button.bets.five{ :value => 5 } &#36;5
				%button.bets.ten{ :value => 10 } &#36;10
				%button.bets.twentyFive{ :value => 25 } &#36;25
			.results
				%p.labels.userNum
				%p.labels.compNum



		%script{ :src => 'scripts/jquery.js' }
		%script{ :src => 'scripts/maxGame.js'}