!!! 5
%html
	%head
		%title maxGame
		%link{ :rel => 'stylesheet', :href => 'stylesheets/design.css'}
	%body
		.wrapper
			%p.balance $100
			%p.bet $5
			%button.bets.five $5
			%button.bets.ten $10
			%button.bets.twentyFive $25